@model Sh4dow.RefuellingHistory.WebApp.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Refuelling History</h1>

<h2>My cars</h2>
<p>@Html.ActionLink("Create new car", "Create", "Car", new { createdFromMainPage = true }, null)</p>
<table class="table">
    <tr>
        <th>Car</th>
        <th>Year</th>
        <th>Mileage</th>
    </tr>
    @foreach (var car in Model.CurrentUser.Cars)
    {
        <tr>
            <td>
                @Html.ActionLink(string.Format("{0} {1}", car.Manufacturer, car.Model), "Details", "Car", new { id = car.ID }, null)
            </td>
            <td>
                @Html.DisplayFor(model => car.Year)
            </td>
            <td>
                @(car.Refuellings.Any() ? car.Refuellings.OrderByDescending(r => r.Mileage).First().Mileage.ToString() : "<Unkown>")
            </td>
        </tr>
    }
</table>